.background-color{
    background-color: #fff9f4;
}

.color-cards{
    color: #fa4c6f;
}
.card-for-css{
    border: 0;
}
.card-for-css img{
    padding: 2px;
    marg
}
.card-for-css2{
    border: 1px solid white;
    border-radius: 1em;
}

.subscribe-css{
    border-radius: 1em;
    background-color: #fadadb;
}
.backpack-css{
    border-radius: .5em;
    
}

.footer-for-css{
    background-color: white;
    border: 0;
}
.cattegory-charts img{
    width: 100px;
}




.highlight{
    color: #fa804c;
    font-size: 3em;
}
.highlight{
    color: #fa804c;
    font-size: 3em;
}
.size{
    font-size: 1.2em;
}
.highlight-2{
    color: #363958;
}
.highlight-3{
    color: #363958;
}

.background{
    background-color: #f1f1f1;
    border-radius: 1em;
}
.image{
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.highlight


.half-width-ultra{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: ;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 5%;
}
    